@charset "utf-8";
/* CSS Document */
body {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}
.menu {
	width: 300px;
	border-radius: 8px;
	overflow: hidden;
}
.item {
	border-top: 1px solid #2980b9;
	overflow: hidden;
}
.item:target .smenu {
	max-height: 10em;
}
.btn {
	display: block;
	position: relative;
	padding: 16px 20px;
	background-color: #3498db;
	color: #fff;
}
.btn::before {
	content: "";
	position: absolute;
	left: 20px;
	bottom: -6px;
	width: 14px;
	height: 14px;
	border-radius: 1px;
	background-color: #3498db;
	transform: rotate(45deg)
	
}
.btn i {
	margin-right: 10px;
}
.smenu {
	background-color: #333;
	overflow: hidden;
	max-height: 0;
	transition: max-height .5s;
}
.smenu a {
	display: block;
	position: relative;
	padding: 16px 26px;
	color: #fff;
	font-size: 14px;
	margin: 4px 0;
}
.smenu a::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background-color: #3498db;
	opacity: 0;
	transition: all .3s;
}
.smenu a:hover::before{
	opacity: 1;
}


