<<<<<<< HEAD
@charset "utf-8";
/* CSS Document */
* {
margin: 0;
padding: 0;
text-decoration: none;
font-family: sans-serif;
}
body {
background-color: #74b9ff;
}
.card {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 360px;
background-color: #f1f1f1;
}
.top-section {
position: relative;
height: 310px;
overflow: hidden;
background-color: #fff;
}
#image-container {
width: 369px;
height: 240px;
}
.nav{
text-align: center;
}
.nav img {
width: 80px;
height: 50px;
border: 1px solid #ddd;
margin: 8px 2px;
cursor: pointer;
transition: .3s;
}
.nav img:hover {
border-color: #74b9ff;
}
.price {
position: absolute;
top: 20px;
right: 20px;
color: #74b9ff;
font-size: 24px;
}
.product-info {
padding: 24px;
}
.name {
text-transform: uppercase;
font-size: 24px;
color: #333;
}
.dis {
font-size: 14px;
opacity: .7;
}
.btn {
display: block;
margin-top: 10px;
padding: 10px;
background-color: #74b9ff;
text-align: center;
color: #fff;
transition: .3s;
}
.btn:hover {
background-color: #333;
}



































=======
@charset "utf-8";
/* CSS Document */
* {
margin: 0;
padding: 0;
text-decoration: none;
font-family: sans-serif;
}
body {
background-color: #74b9ff;
}
.card {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 360px;
background-color: #f1f1f1;
}
.top-section {
position: relative;
height: 310px;
overflow: hidden;
background-color: #fff;
}
#image-container {
width: 369px;
height: 240px;
}
.nav{
text-align: center;
}
.nav img {
width: 80px;
height: 50px;
border: 1px solid #ddd;
margin: 8px 2px;
cursor: pointer;
transition: .3s;
}
.nav img:hover {
border-color: #74b9ff;
}
.price {
position: absolute;
top: 20px;
right: 20px;
color: #74b9ff;
font-size: 24px;
}
.product-info {
padding: 24px;
}
.name {
text-transform: uppercase;
font-size: 24px;
color: #333;
}
.dis {
font-size: 14px;
opacity: .7;
}
.btn {
display: block;
margin-top: 10px;
padding: 10px;
background-color: #74b9ff;
text-align: center;
color: #fff;
transition: .3s;
}
.btn:hover {
background-color: #333;
}



































>>>>>>> f6c15556dc64fa6753733b826a394f3e1bce6240
