* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*button style start*/
.login {
    position: relative;
    border: none;
    outline: none;
    width: 12rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 8px 20px #000000;
    cursor: pointer;
    transition: .5s;
}

.active.login {
    width: 5rem;
    color: transparent;
}
/*button style end*/

/* loading style start */

.loading {
    opacity: 0;
    transition: .5s;
}

.active .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 40%;
    display: flex;
    /* background-color: #ffffff; */
    justify-content: space-around;
    align-items: flex-end;
    opacity: 1;
}

.active .loading div {
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background-color: #ffffff;
    animation: loading .9s ease-in-out infinite alternate;
}

@keyframes loading {
    to {
        transform: translate(0,-1rem);
    }
}

.active .loading div:nth-child(2) {
    animation-delay: .2s;
}

.active .loading div:nth-child(3) {
    animation-delay: .4s;
}

/* loading style end */

/* checkmark style start */
.checkmark {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* 利用stroke的虚线和偏移值达到加载的动画效果 */
    stroke-dasharray: 36px;
    stroke-dashoffset: 36px;
}

.verity svg {
    animation: show .6s forwards;
    animation-delay: 0.4s;
}

.verity .loading {
    opacity: 0;
}

@keyframes show {
    to {
        stroke-dashoffset: 0;
    }
}


/* checkmark style end */