@charset "utf-8";
/* CSS Document */
body {
margin: 0;
padding: 0;
background-color: #a29bfe;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
font-family: sans-serif;
}

.loading,
.loading::before,
.loading::after {
width: 200px;
height: 200px;
box-sizing: border-box;
border-radius: 50%;

}

.loading {
position: relative;
border-top: 10px solid #ff7675;
animation: a1 2s linear infinite;
}


.loading::before,
.loading::after {
content: '';
position: absolute;
top: -10px;
left: 0;
}
.loading::before {
border-top: 10px solid #74b9ff;
transform: rotate(120deg);
}
.loading::after {
border-top: 10px solid #ffeaa7;
transform: rotate(-120deg);
}
.loading span {
position: absolute;
width: 200px;
height: 200px;
text-align: center;
line-height: 200px;
color: #fff;
animation: a2 2s linear infinite;
}

@keyframes a1 {
	to {
	transform: rotate(360deg);
	}
}
@keyframes a2 {
	to {
	transform: rotate(-360deg);
	}
}
































